<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://passion.passionstudy.com/dtd/properties.dtd">
<properties>
	<entry key="searchMemberInfo">
		SELECT MEMBER_NO, 
			   MEMBER_ID, 
			   MEMBER_NAME 
			   * 
			   FROM 
			   MEMBER		
			   		WHERE
			   		
	</entry>
</properties>