<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="memberSearch">
	SELECT
	    
	      MEMBER_NO
	    , MEMBER_ID
	    , MEMBER_NAME
	    , MEMBER_PHONE
	    , MEMBER_DATE
	    , MEMBER_STATUS
	    , MEMBER_POINT
	      				FROM 
	      						MEMBER
	                    WHERE
	                    		MEMBER_NAME = ?
</entry>
<entry key="memberSearch">
	SELECT
	    
	      MEMBER_NO
	    , MEMBER_ID
	    , MEMBER_NAME
	    , MEMBER_PHONE
	    , MEMBER_DATE
	    , MEMBER_STATUS
	    , MEMBER_POINT
	      				FROM 
	      						MEMBER
	                    WHERE
	                    		MEMBER_NAME = ?
</entry>

<entry key="memberSearch2">
	SELECT
	    
	      MEMBER_NO
	    , MEMBER_ID
	    , MEMBER_NAME
	    , MEMBER_PHONE
	    , MEMBER_DATE
	    , MEMBER_STATUS
	    , MEMBER_POINT
	      				FROM 
	      						MEMBER
	                    WHERE
	                    		MEMBER_NAME = ?
	                    AND
	                    		MEMBER_PHONE = ?
</entry>


<entry key="changePwd">
	UPDATE 
	    MEMBER 
	        SET     
	        		MEMBER_PWD = '12345678'
	        WHERE   
	        		MEMBER_NO = ?
</entry>

<entry key="changePoint">
	UPDATE 
	    MEMBER 
	        SET     
	        		MEMBER_POINT = ?
	        WHERE   
	        		MEMBER_NO = ?
</entry>

<entry key="listmemberCoupon">
INSERT INTO COUPON

</entry>

<entry key="insertCoupon">

INSERT INTO 
        COUPON
            (coupon_no
            ,member_no
            ,coupon_name
            ,coupon_valid
            ,coupon_price
            ,coupon_date
            	)
            VALUES
            		(
            		SEQ_CNO.nextval
            		,	?
            		,	?
            		,'O'
            		,3000
            		,SYSDATE+30
            		)
            
</entry>



<entry key="blackListEnroll">
	UPDATE 
	    MEMBER 
	        SET     
	        		MEMBER_STATUS = ?
	        WHERE   
	        		MEMBER_NO = ?
</entry>


<entry key="deleteCoupon">
	UPDATE 
	    COUPON 
	        SET     
	        		COPON_VALID = ? 
	        WHERE   
	        		COUPON_NO 	= ?
</entry>
</properties>