<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="listSales">
	SELECT 
	    PAYMENT_DATE,
	    PAYMENT_METHOD,
	    PAYMENT_PRICE
	            FROM 
	            	RESERVATION
                    WHERE to_char(payment_date,'YYYY-MM') = ?
                    ORDER BY PAYMENT_DATE ASC 
</entry>

<entry key="listSalesBetween">
SELECT 
    PAYMENT_DATE,
    PAYMENT_METHOD,
    PAYMENT_PRICE
            FROM 
                RESERVATION
                    WHERE 
                        payment_date 
                            BETWEEN TO_DATE(?, 'MM/DD/YYYY')
                            AND     TO_DATE(?, 'MM/DD/YYYY') 
                            ORDER BY payment_date ASC

</entry>								
</properties>