<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- 매니저 생성용 키 벨류 -->
	<entry key="AdminInsertManager">
				INSERT INTO MEMBER
						    (
						       MEMBER_NO 
						     , MEMBER_ID 
						     , MEMBER_PWD 
						     , MEMBER_NAME
						     , MEMBER_PHONE 
						     , MEMBER_DATE 
						     , ADMIN_CHECK 
						     , RECOM_COUNT
						     , MEMBER_STATUS
						     , RECOM_CODE
						     , MEMBER_POINT
						     ) 
						        VALUES
						                (
						                  SEQ_MNO.nextval  
						                , 'passion@passion.com' 
						                , 'passion' 
						                , '관리자'
						                , '01012344321'
						                , SYSDATE 
						                , 'A'
						                , 0
						                , 'N'
						                , 'hey00507'
						                , 500
						                );
	</entry>
	
	<!-- 조회할 멤버 생성용 키 벨류 -->
	
	<entry key="AdminInsertMember">
	
				INSERT INTO MEMBER
						    (
						       MEMBER_NO 
						     , MEMBER_ID 
						     , MEMBER_PWD 
						     , MEMBER_NAME
						     , MEMBER_PHONE 
						     , MEMBER_DATE 
						     , ADMIN_CHECK 
						     , RECOM_COUNT
						     , MEMBER_STATUS
						     , RECOM_CODE
						     , MEMBER_POINT
						     
						     ) 
						     	VALUES
						                (
						                  SEQ_MNO.nextval  
						                , 'passion1@passion.com' 
						                , 'passion1' 
						                , '김떡만'
						                , '01043211234'
						                , SYSDATE
						                , 'N'
						                , 0
						                , 'N'
						                , 'passion'
						                , 500
						                );
	</entry>
	
	<!-- 방을 조회하기 위해 필요한 인서트문 -->
	<entry key="InsertRoomInfo">
	
					INSERT INTO ROOM
									(
					                  ROOM_NO
					                , ROOM_NAME
					                , ROOM_TYPE
					                , ROOM_CAPACITY
					                , ROOM_INFORMATION
					                , ROOM_FILEPATH
					                , ROOM_PRICE
					                
					                )
					                   VALUES
					                        (
					                            SEQ_RNO.nextval
					                        ,   '타오르는 열정'
					                        ,   '단체실'
					                        ,   12
					                        ,   '가장 큰 방입니다.'
					                        ,   '미정'
					                        ,   30000
					                        );
					
					SELECT * FROM ROOM;
						
	</entry>
</properties>