/* mypage 설정 탭 조절 */
.tabtype .mypage_tabtype_wrapper li {
  display: inline-block;
  width: 24.5%;
}
/* mypage 메인 */
.mypage-main_wrap {
  width: 600px;
  padding: 50px;
  margin: 50px auto;
}
.mypage-main-front {
  text-align: center;
}
.mypage-main-front .mypage-main-front-svg {
  margin-bottom: 40px;
}
.mypage-main-front_user {
  color: #3a3a3a;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
}
.mypage-main-front-user-name {
  font-weight: bold;
  font-size: 25px;
}
.mypage-main-mine {
  text-align: center;
}
.mypage-main-mine h6 {
  display: inline-block;
  font-size: 17px;
  color: #313233;
}
.mypage-main-mine a {
  font-size: 30px;
  margin-left: 15px;
  color: #c21e1e;
}
.mypage-main-mine .mypage-main-front-svg {
  margin-top: 55px;
}

/* mypage 부메뉴 탭 조절*/
.mypage-section {
  text-align: center;
}
.mypage-reservation-secion-pop {
  width: 1000px;
  margin: 0 auto;
}

.mypage-container .container_mypage-management ul {
  margin: 0 0 20px 0;
}
.mypage-container .container_mypage-management li {
  display: inline-block;
  width: 500px;
}
.mypage-container .container_mypage-management .mypage-single-menu {
  display: inline-block;
  width: 1000px;
}

.mypage-container .container_mypage-management button {
  width: 100%;
  height: 35px;
  background-color: rgb(190, 190, 190);
  border: 0;
  font-weight: 900;
  font-family: "Montserrat", Noto Sans KR, sans-serif;
  cursor: pointer;
  font-size: 15px;
}
.mypage-container .container_mypage-management button:hover {
  background-color: #ffcc00;
  color: white;
}
.mypage-container button.on {
  background-color: #202020;
  color: #ffffff;
}

/*mypage 예약 관리 - 테이블*/
.reservation-state_table {
  width: 1000px;
  text-align: center;
  border-collapse: collapse;
  margin-top: 75px;
}
.reservation-state_table th {
  height: 40px;
  line-height: 40px;
  background-color: #e4e4e4;
  margin: 30px 0;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}
.reservation-state_table td {
  height: 40px;
  padding: 5px;
  border-bottom: 1px solid #bbbbbb;
}
.reservation-state_table .reservation-state-cancel {
  color: #ce0d0d;
  font-weight: bold;
}
.table-check-details-information {
  background-color: #54a8ec;
  color: white;
  width: 100px;
  height: 33px;
  line-height: 32px;
  border: none;
}

/* mypage 예약 관리 - 페이징  */
.reservation-management-pages-count div,
.reservation-management-pages-count ul,
.reservation-management-pages-count li {
  display: inline;
}
.reservation-management-pages-count {
  text-align: center;
  margin: 190px 0px 60px;
}
.reservation-management-pages-count li {
  margin: 0 20px;
  color: #2b2b2b;
  font-weight: bold;
}
.reservation-management-pages-count .page-number {
  text-decoration: none;
  color: #2b2b2b;
  font-weight: bold;
}

/* 1대1 문의 내역 ------ */
.mypage-inquery-nothing {
  text-align: center;
  height: 300px;
  border: 3px solid #c4c4c4;
  border-left: none;
  border-right: none;
  margin: 50px auto 70px;
  width: 1000px;
}
.mypage-inquery-nothing #Capa_1 {
  margin: 80px 0 20px;
}
.mypage-inquery-nothing p {
  font-size: 0.9rem;
  color: #414141;
}

/* 문의 내역이 있을 경우*/
.mypage-inquery {
  border: 3px solid #c4c4c4;
  border-left: none;
  border-right: none;
  width: 1000px;
  margin: 50px auto;
}

.state-complete {
  position: relative;
  height: 40px;
  padding: 20px 0 27px 10px;
  font-weight: bold;
  text-align: left;
}
.state-complete {
  cursor: pointer;
}
.state-complete .state-date {
  position: absolute;
  right: 60px;
  color: #2f3236;
}
.state-complete strong {
  display: inline-block;
  text-align: center;
  margin: -4px 20px 0 0;
  background-color: #5dbbf1;
  color: white;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 6px;
  border: none;
}
.expansion {
  background-color: #f5f5f5;
  display: none;
}
.expansion .question {
  padding: 25px 30px 25px 35px;
}
.expansion .question p {
  margin-top: 30px;
}
.expansion .answer {
  padding: 25px 30px 25px 35px;
}
.expansion .answer p {
  margin-top: 30px;
}
.answer {
  position: relative;
  border-top: 1px solid #c9c9c9;
}
.answer .answer-date {
  position: absolute;
  right: 60px;
  color: #2f3236;
}
.answer > strong {
  font-weight: bold;
  color: #5dbbf1;
}

.go-inquery {
  width: 130px;
  height: 45px;
  line-height: 43px;
  text-align: center;
  background-color: #5dbbf1;
  border-radius: 6px;
  margin: 100px auto 50px;
}
.go-inquery_button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 30px;
}
.go-inquery_button:hover {
  text-decoration: none;
}

/*  mypage - 회원 정보수정 */
.edit-user-info {
  margin: 50px auto;
  width: 1000px;
  border: 1px solid #d6d5d5;
  margin-bottom: 100px;
}
.edit-user-header {
  padding: 45px 40px;
}
.edit-user-header_title {
  display: inline-block;
  font-weight: bolder;
  font-size: 2.3rem;
  color: #292929;
  margin-left: 80px;
}
.edit-user-header_withdrawal {
  float: right;
  padding-bottom: 20px;
  color: #d6d5d5;
  text-decoration: underline;
}

.edit-user-form {
  width: 800px;
  height: 50px;
  margin: 50px;
  margin-left: 80px;
}
.edit-user-form label {
  width: 130px;
  margin: 30px 30px 30px 50px;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #414040;
}

.edit-user-form input {
	padding-left: 12px;
}

.edit-user-form_name-text {
  width: 500px;
  height: 40px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  background-color: #f3f3f3;
}
.edit-user-form_email-text1 {
  width: 500px;
  height: 40px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  background-color: #f3f3f3;
}
/* .edit-user-form_email-text2 {
  width: 195px;
  height: 40px;
  border: 1px solid #bebcbc;
  border-radius: 6px;
} */
.edit-user-form-email-warn {
  color: #d80909;
  font-weight: bold;
  margin-left: 220px;
  /* display: none; */
}
.edit-user-form_phone-text {
  width: 500px;
  height: 40px;
  border: 1px solid #bebcbc;
  border-radius: 6px;
}
.edit-user-form-ad {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #414040;
  margin: 80px 0px 65px 130px;
}
.edit-user-form-ad input {
  margin-right: 11px;
} 

.ad_option-yes {
  margin-right: 50px;
  font-weight: lighter;
}
.ad_option-no {
  margin: 0 15px 0 90px;
}
.edit-user-form_button {
  width: 680px;
  height: 50px;
  margin-left: 50px;
  color: white;
  border: none;
  background-color: #58a2df;
  font-weight: bolder;
  font-size: 1.2rem;
  border-radius: 6px;
}

/* mypage - 비밀번호 변경 */
.edit-pwd_wrap {
  margin: 50px auto;
  width: 1000px;
  border: 1px solid #d6d5d5;
  margin-bottom: 100px;
  padding: 45px 40px;
}
.edit-pwd-content {
  margin-left: 80px;
}
.edit-pwd_title {
  font-size: 35px;
  font-weight: bold;
}
.edit-pwd-change {
  margin-top: 50px;
}
.edit-pwd_newform {
  margin: 30px 0 30px;
}
.edit-pwd_form_title,
.edit-pwd_newform_title,
.edit-pwd_newform_title {
  font-weight: bold;
  margin-top: 10px;
  font-weight: bold;
  font-size: 19px;
}
.edit-pwd_newform_sub-title {
  font-size: 15px;
  margin: 5px 0;
}
.edit-pwd_form-group,
.edit-pwd_newform-group,
.edit-pwd_newform-confirm {
  margin: 10px 0;
}
.edit-pwd_form-group_box input,
.edit-pwd_newform-group_box input,
.edit-pwd_newform-confirm_box input {
  width: 750px;
  height: 50px;
  border: 1px solid #c0bfbf;
  border-radius: 6px;
}
.edit-pwd_form-group_box input::placeholder,
.edit-pwd_newform-group_box input::placeholder,
.edit-pwd_newform-confirm_box input::placeholder {
  font-size: smaller;
  padding-left: 10px;
  color: #c0bfbf;
}
.edit-pwd_form-group_warn,
.edit-pwd_newform-group_warn,
.edit-pwd_newform-confirm_warn {
  color: #f01515;
  margin-top: 10px;
  display: none;
}
.edit-pwd-button {
  background-color: #5dbbf1;
  width: 750px;
  height: 50px;
  font-weight: bold;
  color: white;
  border-radius: 6px;
  border-style: none;
  margin-bottom: 30px;
}

/* mypage - 회원탈퇴 */
.withdrawal_wrap {
  width: 600px;
  padding: 50px;
  margin: 50px auto;
}

.mypage-withdrawal2 {
	margin-top: 200px;
}

.withdrawal-front,
.withdrawal-fin-front {
  text-align: center;
}
.withdrawal-front-svg,
.withdrawal-fin-front-svg {
  margin-bottom: 40px;
}
.withdrawal-front_g1,
.withdrawal-front_g2 {
  color: #3a3a3a;
  font-weight: bold;
  margin-bottom: 20px;
}
.withdrawal-front_g2 {
  color: #db1a1a;
}
.withdrawal-pwd-group_box input {
  width: 500px;
  height: 40px;
  line-height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #d6d2d2;
  margin: 30px auto 10px;
}

.withdrawal-pwd-group_box input::placeholder {
  font-size: smaller;
  padding-left: 10px;
  color: #c0bfbf;
  font-weight: bold;
}
.withdrawal-pwd-group_warn {
  color: #db1a1a;
  font-size: small;
  padding-left: 10px;
  font-weight: bold;
  display: none;
}
.withdrawal-button {
  background-color: #c21e1e;
  width: 500px;
  height: 40px;
  font-weight: bold;
  color: white;
  border-radius: 6px;
  border-style: none;
  margin: 25px auto 65px;
}
.withdrawal-fin-front_check {
  margin-bottom: 30px;
}
.withdrawal-fin-front_g1 {
  font-weight: bold;
  margin-bottom: 20px;
}
.withdrawal-fin-front_g2 {
  font-size: smaller;
  font-weight: bolder;
  margin-bottom: 30px;
}
.withdrawal-fin-button {
  background-color: #5dbbf1;
  width: 500px;
  height: 40px;
  font-weight: bold;
  border-radius: 6px;
  border-style: none;
  margin: 25px auto 65px;
}
.withdrawal-fin-button a {
  color: white;
}
.withdrawal-fin-button a:hover {
  text-decoration: none;
}

/* mypage - 예약 상세 조회 */
.reservation-back-button {
  background-color: #202020;
  color: #ffffff;
}
.reservation-state_table td:nth-child(5) {
  width: 120px;
  color: tomato;
}
.reservation-state_table img {
  width: 200px;
  height: 160px;
}
.reservation-state_table p {
  display: inline;
}
.reservation-state_table .table-body-title,
.table-body-explanation {
  border-bottom: none;
  padding: 0;
  text-align: left;
  font-weight: bold;
  color: #363636;
}

.table-check-state-information {
  color: #3a3939;
  width: 80px;
  height: 33px;
  line-height: 32px;
  border: none;
  font-weight: bold;
}
/* mypage - 예약 상세 조회 (주문정보테이블 css) */
.reservation-order-information {
  font-size: 1.5rem;
  height: 50px;
  margin: 20px 0 10px;
  color: #464545;
}
.reservation-order_table {
  width: 1000px;
  text-align: center;
  border-collapse: collapse;
}

.reservation-order_table th {
  height: 40px;
  line-height: 40px;
  background-color: #e4e4e4;
  margin: 30px 0;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}
.reservation-order_table td {
  height: 40px;
  padding: 5px;
  border-bottom: 1px solid #bbbbbb;
  font-weight: bold;
  color: #363636;
}
/* mypage - 예약 상세 조회 (결제정보테이블 css) */
.reservation-payment-information {
  font-size: 1.5rem;
  height: 50px;
  margin: 20px 0 10px;
  color: #464545;
}
.reservation-payment_table {
  width: 1000px;
  text-align: center;
  border-collapse: collapse;
}

.reservation-payment_table th {
  height: 40px;
  line-height: 40px;
  background-color: #e4e4e4;
  margin: 30px 0;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}
.reservation-payment_table td {
  height: 40px;
  padding: 5px;
  border-bottom: 1px solid #bbbbbb;
  font-weight: bold;
  color: tomato;
}
.reservation-payment_table td:nth-child(4),
.reservation-payment_table td:nth-child(4) p {
  color: #e42706;
}
.reservation-payment_table td:nth-child(5) {
  color: #535353;
}
.reservation-payment_table p {
  display: inline;
}
.reservation-get-point {
  text-align: right;
  background-color: #f1f1f1;
  height: 50px;
  line-height: 50px;
  color: #5f5f5f;
  border-bottom: 1px solid #bbbbbb;
  width: 1000px;
}
.reservation-get-point p,
.reservation-get-point h4 {
  display: inline;
  font-size: 14px;
}
.reservation-get-point span,
.reservation-get-point p {
  color: tomato;
}
.reservation-get-point span {
  margin: 0 10px 0 0;
}
.reservation-management-list {
  width: 125px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 60px auto;
  background-color: #444444;
  border-radius: 6px;
  cursor: pointer;
}
.reservation-management-list .list-button {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* mypage - 내포인트 */
.mypage-point {
  width: 1000px;
  margin: 100px auto;
  text-align: left;
}
.available-point {
  height: 60px;
  margin-top: 70px;
  border-bottom: 1px solid #c5c5c5;
  position: relative;
}
.available-point .point-amount {
  position: absolute;
  right: 20px;
}
.available-point strong {
  font-size: 1.7rem;
  font-weight: bold;
}

.point-list-intro {
  height: 60px;
  margin-top: 40px;
  position: relative;
}
.point-list-intro p {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: bold;
}

.point-list-container {
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 1px solid #c5c5c5;
  border-top: 1px solid #c5c5c5;
}
.point-list-container .point-minus {
  position: absolute;
  right: 20px;
}
.point-state {
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cc1010;
  margin: 30px 50px 70px 25px;
  color: #cc1010;
  border-radius: 6px;
  font-weight: bold;
}

.state-plus {
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #325cac;
  margin: 30px 50px 70px 25px;
  color: #325cac;
  border-radius: 6px;
  font-weight: bold;
}
.point-list-container .point-plus {
  position: absolute;
  right: 20px;
}
.point-plus {
  margin: 30px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #325cac;
}

.point-detail {
  margin-top: 30px;
  margin-left: 30px;
}
.point-detail li:nth-child(2) {
  margin: 15px 0 13px;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: none;
  color: #353535;
}
.point-detail li:nth-child(3) {
  font-size: small;
}
.point-minus {
  margin: 30px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #cc1010;
}

/* mypage - 내 쿠폰 */
.coupon-feed {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
}
.coupon-feed-register {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 50px 0 20px;
  height: 110px;
  text-align: center;
}
.coupon-feed-register-title {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  color: #505050;
}
.coupon-feed-register-input {
  width: 350px;
  height: 45px;
  border: 1px solid #c0bebe;
  margin: 35px 20px 35px 20px;
}
.coupon-feed-register-input::placeholder {
  padding-left: 10px;
  color: #747171;
}
.coupon-feed-register-button {
  width: 100px;
  height: 45px;
  background-color: #444444;
  color: white;
  border-radius: 6px;
}

.coupon-mold {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}
.coupon-item {
  flex-basis: 230px;
  height: 315px;
  padding: 20px;
  background-color: #ebeef0;
  margin: 10px 10px;
  border-radius: 6px;
}
.coupon-item_title {
  font-size: 23px;
  font-weight: bold;
}
.coupon-item_price {
  font-size: 30px;
  margin: 15px 0;
}
.coupon-item_price-number {
  font-weight: bold;
  font-size: 34px;
  color: #5dbbf1;
}
.coupon-item_price-won {
  font-size: 18px;
}
.coupon-item_due-date {
  margin-bottom: 15px;
  color: #464646;
}
.coupon-item_due-date span {
  font-size: 16px;
}
.coupon-item_studyroom-list {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #4e77b9;
}
.coupon-item_status-get {
  background-color: #5dbbf1;
  margin: 23px 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
.coupon-item_status-done {
  background-color: #505152;
  margin: 23px 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 6px;
  color: white;
}
.coupon-done {
  border-bottom: 1px solid #dbdcdd;
}
.coupon-done .coupon-item {
  margin-bottom: 50px;
}
