.section {
  width: 1000px;
  margin: 0 auto;
}
.container {
  padding: 0 30px 0 30px;
  margin: 50px 0 50px 0;
}

.line {
  border: 1px solid;
}

/* Reservation.html ------Start----- */
/* 諛� 紐뉗씤�떎 �삁�빟�븷吏� */
.container .container_room ul {
  margin: 0 60px 70px 60px;
}
.container .container_room li {
  display: inline-block;
  width: 200px;
}
.container .container_room button {
  width: 100%;
  height: 30px;
  /* box-shadow: 0 20px 40px rgba(17, 20, 39, 0.10); */
  background-color: rgb(190, 190, 190);
  border: 0;
  font-weight: 900;
  font-family: "Montserrat", Noto Sans KR, sans-serif;
  cursor: pointer;
  font-size: 15px;
}
.container .container_room li a {
  text-decoration: none;
}
.container .container_room button a {
  color: black;
}
.container .container_room button:hover {
  background-color: #ffcc00;
  color: white;
}
.container button.on {
  background-color: #202020;
  color: #ffffff;
}
/* 諛� �궗吏� */
.container .container_room_img ul {
  margin: 0 0 25px 0;
}
.container .container_room_img li {
  display: inline-block;
  padding: 0 5px 0 5px;
}
/* 諛� 踰꾪듉 */
.container .container_room_button {
  margin: 0 20px 0 20px;
}
.container .container_room_button ul {
  margin: 0 0 50px 0;
}
.container .container_room_button ul .second_room,
.container .container_room_button ul .third_room {
  margin: 0 0 0 65px;
}

.container .container_room_button li {
  display: inline-block;
  width: 100px;
  margin: 0px 10px 0 22px;
}

.container .container_room_button button {
  width: 90%;
  height: 25px;
  /* box-shadow: 0 20px 40px rgba(17, 20, 39, 0.10); */
  background-color: rgb(190, 190, 190);
  border: 0;
  font-weight: 900;
  font-family: "Montserrat", Noto Sans KR, sans-serif;
  cursor: pointer;
  font-size: 13px;
}
.container .container_room_button li a {
  text-decoration: none;
}
.container .container_room_button button a {
  color: black;
}
.container .container_room_button button:hover {
  background-color: #ffcc00;
  color: white;
}

.for_space1 {
  margin-left: 10%;
}

.for_space2 {
  margin-left: 15%;
}
/* Reservation.html ------End----- */

/* reservation_userinfo.html ------Start----- */
/* �삁�빟 怨듦컙 */
.reservation_space_title {
  padding: 5px 10px;
  font-weight: bold;
}
.reservation_space_content {
  width: 950px;
  text-align: left;
}
.room_img {
  padding: 10px;
}

.room_title,
.room_introduce,
.room_item {
  background-color: #fbfbef;
  padding: 0 10px;
  vertical-align: middle;
}

.room_title .room_person_number {
  text-align: left;
}
.room_title .room_time_price {
  text-align: right;
}
.room_introduce {
  font-size: 15px;
}
.room_item li {
  float: left;
  font-size: 13px;
}
.room_item_list li {
  position: relative;
  display: table;
  padding: 0 20px 0 45px;
  height: 36px;
  margin-top: 10px;
  color: black;
}
.room_item_img {
  position: absolute;
  left: 5px;
}
.room_item_name {
  display: table-cell;
  vertical-align: middle;
  max-width: 100%;
  padding-left: 45px;
}
/* */

.reservation_information_title,
.reseller_information_title {
  padding: 40px 10px 5px 10px;
  font-weight: bold;
}

/* �삁�빟�젙蹂� */
.reservation_information_content {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  margin-top: 10px;
}
.reservation_information_subtitle {
  padding-left: 50px;
  width: 250px;
  height: 50px;
  font-weight: bold;
}
.reservation_information_result {
  padding-right: 70px;
  width: 450px;
  height: 50px;
  text-align: right;
}

/* �삁�빟�옄�젙蹂� */
.reseller_information_content {
  width: 100%;
  height: 350px;
  padding-top: 15px;
}
.reseller_information_subtitle {
  padding: 0 50px;
  margin-bottom: 15px;
  font-weight: bold;
  vertical-align: top;
}
.reseller {
  margin-bottom: 15px;
  width: 720px;
  height: 30px;
}

.tel_second,
.tel_third,
.email,
.email_dns {
  margin-bottom: 15px;
  width: 230px;
  height: 30px;
}
input::placeholder {
  padding-left: 10px;
}
.tel_first,
.emailaddr {
  width: 230px;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 15px;
}

/* �씠�슜�빟愿� */
.reseller_join_box {
  width: 95%;
  padding: 10px 0 10px 60px;
  font-size: 15px;
  margin: 0;
}
.checkBox,
.checkBox ul {
  position: relative;
}
.checkBox ul li {
  float: left;
}
.checkBox ul li:first-child {
  width: 95%;
  padding: 15px;
  font-weight: 600;
  color: black;
}
.txt_required {
  color: #ff3a48;
}
.chkAll,
.checkBtn {
  position: absolute;
  right: 30px;
  margin-top: 5px;
}
.checkBox textarea {
  width: 95%;
  height: 100px;
  margin: 0 2%;
  background-color: #f7f7f7;
  color: #888;
  border: none;
}

/* �떎�쓬�떒怨� 踰꾪듉 */
.next_button {
  padding: 20px 425px 0 425px;
}
.next_button button {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 4px;
  font-weight: 900;
  font-family: "Montserrat", Noto Sans KR, sans-serif;
  cursor: pointer;
  font-size: 15px;
}
.next_button button:hover {
  background-color: #ffcc00;
  color: white;
}
/* reservation_userinfo.html ------End----- */

/*payment.html ------Start-----*/
.payment_section {
  height: 2700px;
}

/* �솚遺덇퇋�젙 �븞�궡, 理쒖쥌 �삁�빟 �젙蹂�, 荑좏룿 �궗�슜, �룷�씤�듃 �궗�슜, 理쒖쥌 寃곗젣 湲덉븸,  */
.refund_regulations {
  margin-top: 10px;
}
.final_reservation_info {
  margin-top: 10px;
  height: 380px;
}
.coupon_use,
.point_use {
  margin-top: 10px;
  height: 260px;
}
.final_payment_amount {
  margin-top: 10px;
  height: 370px;
}
.payment_method {
  margin-top: 10px;
  height: 400px;
}


.refund_regulations_title {
  padding: 5px 10px;
  font-weight: bold;
}
.final_reservation_info_title,
.coupon_use_title,
.point_use_title,
.final_payment_amount_title,
.payment_method_title {
  padding: 40px 10px 5px 10px;
  font-weight: bold;
}

.title_coupon_number {
  color: #757575;
  font-weight: bold;
}

.refund_regulations_content,
.info {
  padding: 0 40px;
  font-size: 16px;
}
.subline {
  width: 90%;
  color: gray;
  margin-left: 30px;
}
.info_list {
  padding: 0 50px;
}
.title {
  position: absolute;
  padding-top: 2px;
  vertical-align: middle;
}
.coupon_title {
  position: absolute;
  vertical-align: middle;
  margin-left: 10px;
}

.data {
  vertical-align: top;
  line-height: 28px;
  margin-left: 220px;
}

.price_data {
  vertical-align: top;
  line-height: 28px;
  float: right;
  margin-right: 50px;
  color: #ffcc00;
}

.info_list button {
  width: 90px;
  height: 30px;
  margin: 2px 0;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 3px;
  font-family: "Montserrat", Noto Sans KR, sans-serif;
  cursor: pointer;
  font-size: 15px;
  
}
.info_list button:hover {
  background-color: #ffcc00;
  color: white;
}

.all_payment_amount{
  height: 50px;
  margin: 0 40px;
  padding: 10px;
  background-color: #ffcc00;
  color: white;
}
.all_payment_amount_title {
  position: absolute;
  padding-top: 2px;
  vertical-align: middle;
}
.all_payment_amount_data {
  vertical-align: top;
  line-height: 28px;
  margin-left: 220px;
}


/* 寃곗젣�닔�떒*/
.payment_method_list {
  padding: 35px 100px 10px 100px;
  width: 100%;
  height: 115px;
}
.payment_method_list li {
  float: left;
  font-size: 17px;
  position: relative;
  display: table;
  padding: 20px 20px 20px 75px;
  height: 30px;
  color: black;
  background-color: #fbfbef;
  border: 1px solid rgb(190, 190, 190);
}
.payment_method_img {
  position: absolute;
  left: 20px;
  bottom: 10px;
  width: 40px;
  height: 40px;
}
.card_payment_method,
.mobile_payment_method,
.scene_payment_method,
.money_payment_method {
  display: table-cell;
  vertical-align: middle;
  max-width: 100%;
}
#con {
  padding: 10px 110px;
  width: 100%;
}
#con span {
  font-size: 15px;
  font-weight: bold;
}
.card_info_first,
.card_info_second,
.card_info_third,
.card_info_fourth,
.selected-month,
.selected-year {
  margin: 10px 0 20px 0;
  width: 170px;
}
.card_user_birth {
  margin-top: 15px;
  width: 230px;
  height: 30px;
}
/* �씠�슜�빟愿� */
.join_box {
  width: 100%;
  padding: 10px 100px;
  font-size: 15px;
}
.checkBox,
.checkBox ul {
  position: relative;
}
.checkBox ul li {
  float: left;
}
.checkBox ul li:first-child {
  width: 95%;
  padding: 15px 0;
  font-weight: 600;
  color: black;
}
.txt_required {
  color: #ff3a48;
}
.chkAll,
.checkBtn {
  position: absolute;
  right: 30px;
  margin-top: 5px;
}



/* �떎�쓬�떒怨� 踰꾪듉 */
.btn_payment {
  margin-top: 50px;
  padding: 0 325px;
  position: absolute;
}
.cancel {
  margin-right: 95px;
}